In [1]:
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
import math
from scipy import stats
from scipy.stats import f
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
a=[4,3,2]
b=[2,4,6]
c=[2,1,3]

In [3]:
stats.f_oneway(a,b,c)

F_onewayResult(statistic=1.5, pvalue=0.2962962962962962)

In [4]:
data=pd.read_excel('oneway.xlsx')

In [5]:
data

   teachingmethodology1  teachingmethodology2  teachingmethodology3
0                     4                     2                     2
1                     3                     4                     1
2                     2                     6                     3

In [7]:
data_new=pd.melt(data.reset_index(),id_vars=['index'],value_vars=['teachingmethodology1','teachingmethodology2','teachingmethodoogy3'])
data_new.columns=['index','Treatments','value']

KeyError: "The following 'value_vars' are not present in the DataFrame: ['teachingmethodoogy3']"

In [8]:
data=pd.read_excel('oneway.xlsx')

In [ ]:
data

In [9]:
data_new=pd.melt(data.reset_index(), id_vars=['index'], value_vars=['teachingmethodology1','teachingmethodology2','	teachingmethodology3'])
data_new.columns=['index','Treatments','value']

KeyError: "The following 'value_vars' are not present in the DataFrame: ['\\tteachingmethodology3']"

In [ ]:
data_new

In [10]:
data_new=pd.melt(data.reset_index(), id_vars=['index'], value_vars=['teachingmethodology1','teachingmethodology2','	teachingmethodology3'])
data_new.columns=['index','Treatments','value']

KeyError: "The following 'value_vars' are not present in the DataFrame: ['\\tteachingmethodology3']"

In [11]:
data=pd.read_excel('oneway.xlsx')

In [12]:
data

   teachingmethodology1  teachingmethodology2  teachingmethodology3
0                     4                     2                     2
1                     3                     4                     1
2                     2                     6                     3

In [14]:
data_new=pd.melt(data.reset_index(),id_vars=['index'],value_vars=['teachingmethodology1','teachingmethodology2','	teachingmethodology3'])
data_new.columns=['index','Treatments','value']

KeyError: "The following 'value_vars' are not present in the DataFrame: ['\\tteachingmethodology3']"

In [15]:
data_new=pd.melt(data.reset_index(),id_vars=['index'],value_vars=['teachingmethodology1','teachingmethodology2','teachingmethodology3'])
data_new.columns=['index','Treatments','value']

In [16]:
data_new

   index            Treatments  value
0      0  teachingmethodology1      4
1      1  teachingmethodology1      3
2      2  teachingmethodology1      2
3      0  teachingmethodology2      2
4      1  teachingmethodology2      4
5      2  teachingmethodology2      6
6      0  teachingmethodology3      2
7      1  teachingmethodology3      1
8      2  teachingmethodology3      3

In [19]:
model=ols('value ~ C(Treatments)',data=data_new).fit()
anova_table=sm.stats.anova_lm(model,typ=1)
anova_table

                df  sum_sq  mean_sq    F    PR(>F)
C(Treatments)  2.0     6.0      3.0  1.5  0.296296
Residual       6.0    12.0      2.0  NaN       NaN